.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

.img-text {
  position: absolute;
  color: var(--white);
  z-index: 201;
  letter-spacing: 0.15px;
  text-transform: none;
  padding-top: 30%;
  text-align: center;
}
.img-text:hover {
  color: var(--yellow);
}
.img-main {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 0.8s ease;
  transform-style: preserve-3d;
  opacity: 1;
  border-radius: 5px;
}
